/* Estilos para o corpo do documento */
body {
    font-family: 'Mitr', sans-serif;  
    line-height: 1.6;
    margin: 0;  
    padding: 0;
    background: rgb(255,255,255);
}

/* Estilos para os elementos header, main e footer */
header, main, footer {
    margin: 20px; 
}


header {
    background-color: rgb(255, 153, 0);  
    color: #fff;  
    text-align: center;
    padding: 10px; 
    border-radius: 15px;
}

/* Estilos para o conteúdo principal */
main {
    display: flex; 
    flex-direction: column;  
}


section {
    margin-bottom: 20px;  
}

h1 {
    font-size: 25px;
}

code {
    font-family: 'Courier New', monospace;  
    background-color: #f2f2f2;  
    padding: 5px;  
}

/* Estilos para o rodapé */
.footer {
    background-color: rgb(255, 153, 0); 
    color: #fff; 
    text-align: center;  
    padding: 10px;  
    margin-top: 5%;  
}

/* Estilos para os links no rodapé */
.footer a {
    text-decoration: none;  
    color: #fff;  
}

/* Estilos para os links no rodapé ao passar o mouse */
.footer a:hover {
    color: #000; 
    transition: 300ms; 
}

/* Estilos para títulos */
.title {
    color: rgb(255, 153, 0); 
}

/* Estilos para a imagem do logotipo do GitHub */
.GitHub {
    max-width: 150px; 
}

@media only screen and (max-width: 600px) {
    /* Estilos para telas menores que 600px de largura */
    header, main, footer {
        margin: 10px;
    }

    h1 {
        font-size: 20px;
    }

    .footer {
        margin-top: 10%;
    }
}


@media only screen and (max-width: 768px) {
        /* Estilos para telas menores que 768px de largura */
    section {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

/*Barra de rolagem*/
/* width */
::-webkit-scrollbar {
    width: 20px;
}

  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 153, 0); 
    border-radius: 10px;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(188, 114, 3);
}